.root {
  min-height: 100vh;
}

.header {
  display: flex;
  gap: 16px;
  color: #ffe820;
  align-items: center;
}

.logo {
  max-height: 100%;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}
